.rq-logo {
    height: 100px;
    width: 84px;
}
.st0{
    fill: #FFFFFF;
}
.st1{
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 5;
    stroke-miterlimit: 10;
}
.st2{
    fill: #732A2A;
}
.st3{
    fill: #CD3F3E;
}
